

.main{
    position: absolute;
    border: 1px solid rgb(245, 245, 245);
    width: 20%;
    margin-left: 75px;
    z-index: 1000;
    top: 10px;
    background-color:rgb(255,255,255);
    height: 100vh;
}


li{
    list-style: none;
    text-decoration: none;
    padding: 10px 5px;
    color: black !important;
}

li::before{
    content:"🚓";
    padding: 3px;
}

li:hover{
    background-color: rgb(217, 221, 254);
    cursor: pointer;
    border-radius:10px;
}