.main {
  width: 70px;
  height:100vh;
  left: 0px;
  background: #ffffff;
  border: 1px solid rgb(236, 232, 232);
  display: grid;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0%;
  z-index: 10;
  margin-top: 45px;
}


.main > div{
    justify-content: center;
    padding: 5px;
    align-items: center;
    margin: 3px 6px;
    border-radius: 5px;
    cursor:pointer;
    
}

.main > div:hover{
    background-color: rgb(105,122,251);
    color: whitesmoke;
}


.logo {
  left: 20%;
}

